@font-face {
  font-family: "margo";
  src: url("Margo_Condensed_v0.1-Medium.woff") format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	width: 100%;
	height: 100vh;
	color: #1F1F1F;
  font-family: "Averia Serif Libre", cursive;
  font-weight: 400;
}

main {
  margin: 1.5em 1.8em 1.8em 3em;
  font-size: 1.2em;
}

.row:nth-child(odd) {
  margin-top: 300px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5em 1.5em 1.5em 2.5em;
}

#nav-ul {
 align-self: center;
 z-index: 1;
}

#logo {
  z-index: 1;
}

#nav-blob { 
  display: none;
}

#nav-ul li:nth-child(1), #info-body h1 {
  font-family: margo, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
}

#nav-ul li:nth-child(2), #about-body h1 {
  font-family: suburban, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

#nav-ul li:nth-child(3), #scan-body h1 {
  font-family: arvo, serif;
  font-weight: 400;
  font-style: normal;

}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.4em;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}

/* buttons for home page */
button h1 {
  font-size: 12rem;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  text-align: center;
  align-self: center;
  margin: 0.5em;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

#q1 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#q2 {
  font-family: margo, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ============ FORMS ============= */
@media screen and (min-width: 1050px){
  #form-blob {
    height: 70vh;
    bottom: 0;
  }
.share-form {
    bottom: 0;
  }
}

@media screen and (max-width: 700px){
  #care-body h1 {
    font-size: 1.6em;
  }
}

#care-body .forms input[type=submit]:nth-child(1) {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 25px;
}

#form-blob {
  opacity: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  margin: auto;
  left: 0;
  right: 0;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  z-index: -1;
  max-height: 80vh;
}

/* .forms form { */
.share-form {
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.forms form input {
  font-size: 0.9em;
  border: none;
  background-color: transparent;
}

#form-1 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#form-1 input[type=submit] {
  font-size: 1em;
}

#form-1 input[type=text]::placeholder {
  color: #94A4FF;
}

.forms input[type=text] {
  color: #94A4FF;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.forms input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 35px;
}

#just-answers input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.forms h1 {
  line-height: 1.2;
}

.hide {
  display: none;
}

.buttons-hide {
  display: none;
}

/* ============ INFO PAGE ============= */
#info-body h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

#pdf-button {
  max-width: 235px;
  border: 6px solid black;
  border-radius: 40px;
  text-align: center;
  display: block;
  margin: 45px auto;
  font-size: 1em;
  padding: 18px 45px;
}

#info-body h3 {
  margin-bottom: 0;
  margin-top: 30px;
  color: #D12824;
}

#info-body p:nth-child(n+3) {
  margin-top: 0;
}

#info-body footer {
  margin: 110px 3em;
  padding-bottom: 10px;
  color: #F7C66A;
}

#info-body ul li {
  list-style: none;
}

#info-body ul {
  padding-left: 0;
  margin-top: 0;
}

#info-body p:last-of-type {
  margin-bottom: 0;
}
/* ======================== */
/* ++++++++ ANSWERS ++++++++*/
/* ======================== */
#submissions {
  margin: 0;
  padding: 0;
  width: 900px;
}

.blob-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

path {
  opacity: 30%;
}

.svg-content:nth-child(even) {
  margin-top: 10%;
}

.svg-content {
  position: relative;
}

.blob-content {
  position: absolute;
  top: 25%;
  width: 100px;
  /* left: 10%; */
  font-size: 0.7em;
}

.svg-content:nth-child(even) .blob-content { 
  position: absolute;
  top: 35%;
  width: 100px;
  /* left: 10%; */
  font-size: 0.7em;
}

.shape1.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  top: 0;
  width: 200px;
  z-index: 0;
  left: calc(20% - 100px);
}

/* ============ ABOUT PAGE ============= */
#about-body h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

#about-body p, #about-body ul {
  margin-bottom: 30px;
}

#about-body footer {
  margin: 100px 3em;
  padding-bottom: 10px;
  color: #2485BC;
}

/* ============ SCAN PAGE ============= */
#scan-body h1 {
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 0;
}

#access-camera {
  border: 6px solid black;
  border-radius: 40px;
  text-align: center;
  display: block;
  margin: 35px auto;
  font-size: 1em;
  padding: 18px 45px;
  width: 300px;
}

#access-camera input[type="file"] {
  display: none;
}

#access-camera:hover {
  cursor: pointer;
}

#scan-body main p {
  max-width: 50%;
  margin: auto;
}
#scan-body main {
  text-align: center;
  font-size: 1.4em;
  margin: auto;
  margin-top: 25vh;
}

/* media queries */
@media screen and (max-width: 767px) {
  #nav-ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #nav-ul.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.5em;
    /* transition: all 1s ease-in-out; */
  }

  #nav-blob.show-blob {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 767px) {
  main {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  main {
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 374px) {
  main {
    margin: 1em;
  }

  nav {
    margin: 1em;
  }
}

/* GRADIENTS */
/* index.html */
#index-body {
  background: 
  radial-gradient(circle at 86.21% 9.14%, #94a4ff, transparent 63%),radial-gradient(circle at 11.88% 9.99%, #ddd8ce, transparent 38%),radial-gradient(circle at 12.92% 47.75%, #d12824, transparent 50%),radial-gradient(circle at 9.76% 87.62%, #f59e44, transparent 100%),radial-gradient(circle at 84.44% 84.04%, #ddd8ce, transparent 47%),radial-gradient(circle at 58.61% 46.04%, #d12824, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%; 
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite; 
}

#about-body {
	background:radial-gradient(circle at 2.43% 3.23%, #ddd8ce, transparent 27%),radial-gradient(circle at 4.86% 91.42%, #2485BC, transparent 23%),radial-gradient(circle at 88.4% 6.05%, #2485BC, transparent 37%),radial-gradient(circle at 71.38% 65.82%, #ddd8ce, transparent 56%),radial-gradient(circle at 18.78% 35.3%, #D895B4, transparent 100%),radial-gradient(circle at 96.35% 97.33%, #D895B4, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what song is helping you through lately */
#song-body .forms #just-answers input[type=submit] {
  font-family: margo, sans-serif;
  font-size: 1em;
}

#song-body input[type=text]::placeholder {
  color: #2485BC;
}

#song-body h1 {
  font-family: margo, sans-serif;
}

#song-body {
  /* font-family: margo, sans-serif; */
  font-weight: 300;
  font-style: normal;
	background: radial-gradient(circle at 7.87% 6.33%, #ddd8ce, transparent 29%),radial-gradient(circle at 8.07% 90.58%, #2485BC, transparent 35%),radial-gradient(circle at 87.73% 6.61%, #2485BC, transparent 60%),radial-gradient(circle at 50.72% 86.22%, #ddd8ce, transparent 57%),radial-gradient(circle at 6.85% 44.44%, #D895B4, transparent 100%),radial-gradient(circle at 90.39% 96.77%, #D895B4, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

#info-body {
	background: radial-gradient(circle at 10.3% 4.5%, #ddd8ce, transparent 47%),radial-gradient(circle at 56.37% 94.51%, #ddd8ce, transparent 27%),radial-gradient(circle at 4.75% 88.89%, #d12824, transparent 29%),radial-gradient(circle at 16.09% 43.32%, #F59E44, transparent 100%),radial-gradient(circle at 95.37% 4.22%, #F59E44, transparent 39%),radial-gradient(circle at 77.66% 50.21%, #ddd8ce, transparent 34%),radial-gradient(circle at 89.12% 90.01%, #d12824, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what made you smile today? */
#smile-body h1 {
  font-size: 2.1em;
  font-family: suburban, sans-serif;
}

#smile-body .forms #just-answers input[type=submit] {
  font-family: suburban, sans-serif;
  font-size: 1.3em;
}

#smile-body input[type=text]::placeholder {
  color: #d12824;
}

#smile-body {
  /* font-family: suburban, sans-serif; */
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(circle at 10.3% 4.5%, #ddd8ce, transparent 47%),radial-gradient(circle at 56.37% 94.51%, #ddd8ce, transparent 27%),radial-gradient(circle at 4.75% 88.89%, #d12824, transparent 29%),radial-gradient(circle at 16.09% 43.32%, #F59E44, transparent 100%),radial-gradient(circle at 90.07% 6.09%, #F59E44, transparent 20%),radial-gradient(circle at 73.84% 67.51%, #ddd8ce, transparent 35%),radial-gradient(circle at 91.78% 88.89%, #d12824, transparent 100%),radial-gradient(circle at 84.1% 35.69%, #d12824, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);	
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%; 
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

#scan-body {
  background: radial-gradient(circle at 3.54% 66.38%, #ddd8ce, transparent 19%),radial-gradient(circle at 12.04% 7.17%, #65A478, transparent 58%),radial-gradient(circle at 5.08% 91.84%, #65A478, transparent 19%),radial-gradient(circle at 50.5% 63.15%, #ddd8ce, transparent 69%),radial-gradient(circle at 92.82% 3.8%, #F7C66A, transparent 28%),radial-gradient(circle at 92.38% 90.44%, #F7C66A, transparent 40%),radial-gradient(circle at 5.08% 39.8%, #ddd8ce, transparent 100%),radial-gradient(circle at 94.25% 60.9%, #65A478, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what do you miss? */
#miss-body .forms #just-answers input[type=submit] {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1em;
}

#miss-body input[type=text]::placeholder {
  color: #65A478;
}

#miss-body {
  background: radial-gradient(circle at 3.54% 66.38%, #ddd8ce, transparent 19%),radial-gradient(circle at 86.74% 86.5%, #65A478, transparent 29%),radial-gradient(circle at 92.49% 4.92%, #65A478, transparent 19%),radial-gradient(circle at 52.85% 3.05%, #ddd8ce, transparent 53%),radial-gradient(circle at 5.21% 4.63%, #F7C66A, transparent 28%),radial-gradient(circle at 3.54% 91.72%, #F7C66A, transparent 40%),radial-gradient(circle at 82.21% 57.38%, #ddd8ce, transparent 100%),radial-gradient(circle at 3.68% 31.55%, #65A478, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what do you hope for? */
#hope-body .forms #just-answers input[type=submit] {
  font-family: millik;
  font-size: 1em;
}

#hope-body h1 {
  font-family: millik;
}

#hope-body input[type=text]::placeholder {
  color: #D895B4;
}

#hope-body {
  /* font-family: millik; */
  background: radial-gradient(circle at 7.87% 6.33%, #ddd8ce, transparent 29%),radial-gradient(circle at 8.33% 35.44%, #F59E44, transparent 43%),radial-gradient(circle at 92.36% 84.39%, #F59E44, transparent 65%),radial-gradient(circle at 51.85% 87.76%, #ddd8ce, transparent 40%),radial-gradient(circle at 10.42% 81.73%, #D895B4, transparent 100%),radial-gradient(circle at 89.79% 8.4%, #D895B4, transparent 100%),radial-gradient(circle at 43.52% 4.78%, #ddd8ce, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* who do you appreciate? */
#appreciate-body .forms #just-answers input[type=submit] {
  font-family: arvo, serif;
  font-size: 1em;
}

#appreciate-body h1 {
  font-family: arvo, serif;
}

#appreciate-body input[type=text]::placeholder {
  color: #2485BC;
}

#appreciate-body {
  /* font-family: arvo, serif; */
  font-weight: 700;
  font-style: normal;
  background: radial-gradient(circle at 4.75% 30.66%, #ddd8ce, transparent 28%),radial-gradient(circle at 13.15% 5.2%, #2485BC, transparent 34%),radial-gradient(circle at 92.49% 4.92%, #2485BC, transparent 19%),radial-gradient(circle at 58.01% 4.22%, #ddd8ce, transparent 53%),radial-gradient(circle at 88.73% 80.73%, #94A4FF, transparent 100%),radial-gradient(circle at 6.85% 54.15%, #94A4FF, transparent 21%),radial-gradient(circle at 15.91% 91.14%, #ddd8ce, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* What do you want ppl to care about? */
/* what do you hope for? */
#care-body h1 {
  font-family: termina, sans-serif;
}

#care-body {
	background: radial-gradient(circle at 3.82% 9.14%, #94a4ff, transparent 41%),radial-gradient(circle at 49.58% 57.73%, #ddd8ce, transparent 53%),radial-gradient(circle at 12.78% 85.26%, #d12824, transparent 100%),radial-gradient(circle at 18.54% 58.83%, #ddd8ce, transparent 23%),radial-gradient(circle at 70.83% 8.4%, #d12824, transparent 74%),radial-gradient(circle at 87.08% 81.61%, #94a4ff, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 150% 150%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}