@font-face {
  font-family: "margo";
  src: url("Margo_Condensed_v0.1-Medium.woff") format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	width: 100%;
	height: 100vh;
	color: #1F1F1F;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-style: normal;

}

main {
  margin: 1.5em 1.8em 1.8em 3em;
  font-size: 1.2em;
}

.row:nth-child(odd) {
  margin-top: 300px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5em 1.5em 1.5em 2.5em;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#nav-ul {
 align-self: center;
 z-index: 1;
}

nav path {
  opacity: 70%;
}

#logo {
  z-index: 1;
  /* content:url("../images/Symbols/appeciate\ logo.png"); */
  width: 90px;
  height: 90px;
}

#nav-blob { 
  display: none;
}

#nav-ul li:nth-child(1), #info-body h1 {
  font-family: margo, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
}

#nav-ul li:nth-child(2), #about-body h1 {
  font-family: suburban, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

#nav-ul li:nth-child(3), #scan-body h1 {
  font-family: arvo, serif;
  font-weight: 400;
  font-style: normal;

}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.4em;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}

/* buttons for home page */
/* .index main #submissions { */
  /* margin-top: 45%; */
/* } */

button h1 {
  font-size: 12rem;
  margin: 0;
}

#buttons p {
  text-align: center;
  color: white;
}

#buttons img {
  /* width: 120px; */
  width: 100%;
  max-width: 200px;
  margin: 0;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);

}

#buttons button {
  /* width: 120px; */
  width: 100%;
  margin: 0;
}

#buttons svg {
  position: absolute;
  width: 40%;
  margin: 0;
  opacity: 50%;
  max-width: 200px;
}

.first-section {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.buttons {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: row;
}

button {
  text-align: center;
  align-self: center;
  margin: 0.5em;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

#q1 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#q2 {
  font-family: margo, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ============ FORMS ============= */
@media screen and (min-width: 1050px){
  #form-blob {
    max-height: 60vh;
    bottom: 0;
  }
.share-form {
    bottom: 0;
  }
}

@media screen and (max-width: 700px){
  #care-body h1 {
    font-size: 1.6em;
  }
}

#care-body .forms input[type=submit]:nth-child(1) {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 25px;
}

#form-blob {
  opacity: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  margin: auto;
  left: 0;
  right: 0;
  transform: translateY(-25%);
  z-index: -1;
  max-height: 60vh;
}

/* .forms form { */
.share-form {
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  transform: translateY(-25%);
}

.forms form input {
  font-size: 0.9em;
  border: none;
  background-color: transparent;
}

#form-1 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#form-1 input[type=submit] {
  font-size: 1em;
}

#form-1 input[type=text]::-webkit-input-placeholder {
  color: #94A4FF;
}

#form-1 input[type=text]::-moz-placeholder {
  color: #94A4FF;
}

#form-1 input[type=text]:-ms-input-placeholder {
  color: #94A4FF;
}

#form-1 input[type=text]::-ms-input-placeholder {
  color: #94A4FF;
}

#form-1 input[type=text]::placeholder {
  color: #94A4FF;
}

.forms input[type=text] {
  color: #94A4FF;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.forms input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 35px;
}

#just-answers input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-25%);
}

.forms h1 {
  line-height: 1.2;
}

.hide {
  display: none;
}

.buttons-hide {
  display: none;
}

/* ============ INFO PAGE ============= */
#info-body {
  line-height: 1.6;
}

#info-body h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

#pdf-button {
  max-width: 235px;
  border: 6px solid black;
  border-radius: 40px;
  text-align: center;
  display: block;
  margin: 45px auto;
  font-size: 1em;
  padding: 18px 45px;
}

#info-body .tip-heading {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 700;
  /* color: #D12824; */
}

#info-body p:nth-child(n+3) {
  margin-top: 0;
}

#info-body footer {
  margin: 110px 3em;
  padding-bottom: 10px;
  color: #F7C66A;
}

#info-body ul li {
  list-style: none;
}

#info-body .link-ul a {
  text-decoration: underline;
}

#info-body .link-ul {
  padding-left: 0;
  margin-top: 0;
}

#info-body p:last-of-type {
  margin-bottom: 0;
}
/* ======================== */
/* ++++++++ ANSWERS ++++++++*/
/* ======================== */
#submissions {
  margin: 0;
  padding: 0;
  width: 900px;
}

.blob-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

path {
  opacity: 30%;
}

.svg-content:nth-child(even) {
  margin-top: 10%;
}

.svg-content {
  position: relative;
}

.blob-content {
  position: absolute;
  top: 15%;
  width: 100px;
  left: -30%;
  font-size: 0.7em;
}

.svg-content:nth-child(even) .blob-content { 
  position: absolute;
  top: 25%;
  width: 100px;
  /* left: 10%; */
  font-size: 0.7em;
}

.shape1.flip {
  transform: rotate(180deg);
  position: relative;
  top: 0;
  width: 200px;
  z-index: 0;
  left: calc(20% - 100px);
  margin: -35px;
  margin-top: -30px;
}

/* ============ ABOUT PAGE ============= */
#about-body {
  line-height: 1.6;
}

#about-body h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

#about-body p, #about-body ul {
  margin-bottom: 30px;
}

.first {
  margin-top: 0;
}

#about-body footer {
  margin: 100px 3em;
  padding-bottom: 10px;
  color: #2485BC;
}

/* ============ SCAN PAGE ============= */
#scan-body h1 {
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 0;
}

#access-camera {
  border: 6px solid black;
  border-radius: 40px;
  text-align: center;
  display: block;
  margin: 35px auto;
  font-size: 1em;
  padding: 18px 45px;
  width: 300px;
}

#access-camera input[type="file"] {
  display: none;
}

#access-camera:hover {
  cursor: pointer;
}

#scan-body main p {
  max-width: 50%;
  margin: auto;
}
#scan-body main {
  text-align: center;
  font-size: 1.4em;
  margin: auto;
  margin-top: 25vh;
}

/* Spotify iframe */
iframe {
  display: block;
  margin: auto;
}

/* media queries */
@media screen and (max-width: 767px) {
  #nav-ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #nav-ul.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.5em;

    /* transition: all 1s ease-in-out; */
  }

  #nav-blob.show-blob {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 767px) {
  main {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  main {
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 374px) {
  main {
    margin: 1em;
  }

  nav {
    margin: 1em;
  }
}

/* GRADIENTS */
/* index.html */
#index-body {
  background: linear-gradient(-45deg, #94A4FF, #D12824, #F59E44, #DDD8CE ); 
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite; 
}

#about-body {
  background: linear-gradient(-45deg, #2485BC, #D895B4, #DDD8CE  );
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what song is helping you through lately */
#song-body .forms #just-answers input[type=submit] {
  font-family: margo, sans-serif;
  font-size: 1em;
}

#song-body input[type=text]::-webkit-input-placeholder {
  color: #2485BC;
}

#song-body input[type=text]::-moz-placeholder {
  color: #2485BC;
}

#song-body input[type=text]:-ms-input-placeholder {
  color: #2485BC;
}

#song-body input[type=text]::-ms-input-placeholder {
  color: #2485BC;
}

#song-body input[type=text]::placeholder {
  color: #2485BC;
}

#song-body h1 {
  font-family: margo, sans-serif;
}

#song-body {
  /* font-family: margo, sans-serif; */
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(-45deg, #2485BC, #D895B4, #DDD8CE  );
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

#info-body {
  background: linear-gradient(-45deg, #D12824, #F59E44, #DDD8CE);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what made you smile today? */
#smile-body h1 {
  font-size: 2.1em;
  font-family: suburban, sans-serif;
}

#smile-body .forms #just-answers input[type=submit] {
  font-family: suburban, sans-serif;
  font-size: 1.3em;
}

#smile-body input[type=text]::-webkit-input-placeholder {
  color: #d12824;
}

#smile-body input[type=text]::-moz-placeholder {
  color: #d12824;
}

#smile-body input[type=text]:-ms-input-placeholder {
  color: #d12824;
}

#smile-body input[type=text]::-ms-input-placeholder {
  color: #d12824;
}

#smile-body input[type=text]::placeholder {
  color: #d12824;
}

#smile-body {
  /* font-family: suburban, sans-serif; */
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(-45deg, #D12824, #F59E44, #DDD8CE);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%; 
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what do you miss? */
#miss-body .forms #just-answers input[type=submit] {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1em;
}

#miss-body input[type=text]::-webkit-input-placeholder {
  color: #65A478;
}

#miss-body input[type=text]::-moz-placeholder {
  color: #65A478;
}

#miss-body input[type=text]:-ms-input-placeholder {
  color: #65A478;
}

#miss-body input[type=text]::-ms-input-placeholder {
  color: #65A478;
}

#miss-body input[type=text]::placeholder {
  color: #65A478;
}

#miss-body {
	background: linear-gradient(-45deg, #65A478, #F7C66A, #DDD8CE);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what do you hope for? */
#hope-body .forms #just-answers input[type=submit] {
  font-family: millik;
  font-size: 1em;
}

#hope-body h1 {
  font-family: millik;
}

#hope-body input[type=text]::-webkit-input-placeholder {
  color: #D895B4;
}

#hope-body input[type=text]::-moz-placeholder {
  color: #D895B4;
}

#hope-body input[type=text]:-ms-input-placeholder {
  color: #D895B4;
}

#hope-body input[type=text]::-ms-input-placeholder {
  color: #D895B4;
}

#hope-body input[type=text]::placeholder {
  color: #D895B4;
}

#hope-body {
  /* font-family: millik; */
	background: linear-gradient(-45deg, #D895B4, #F59E44, #DDD8CE);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* who do you appreciate? */
#appreciate-body .forms #just-answers input[type=submit] {
  font-family: arvo, serif;
  font-size: 1em;
}

#appreciate-body h1 {
  font-family: arvo, serif;
}

#appreciate-body input[type=text]::-webkit-input-placeholder {
  color: #2485BC;
}

#appreciate-body input[type=text]::-moz-placeholder {
  color: #2485BC;
}

#appreciate-body input[type=text]:-ms-input-placeholder {
  color: #2485BC;
}

#appreciate-body input[type=text]::-ms-input-placeholder {
  color: #2485BC;
}

#appreciate-body input[type=text]::placeholder {
  color: #2485BC;
}

#appreciate-body {
  /* font-family: arvo, serif; */
  font-weight: 700;
  font-style: normal;
	background: linear-gradient(-45deg, #94A4FF, #2485BC, #DDD8CE);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* What do you want ppl to care about? */
/* what do you hope for? */
#care-body h1 {
  font-family: termina, sans-serif;
}

#care-body {
	background: linear-gradient(-45deg, #D12824, #94A4FF, #DDD8CE);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}