@font-face {
  font-family: "margo";
  src: url("Margo_Condensed_v0.1-Medium.woff") format('woff');
}

@font-face {
  font-family: "Millik";
  src: url("Millik.woff"),
  url("Millik.woff2"),
  url("Millik.otf")
   format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	width: 100%;
	height: 100vh;
	color: #1F1F1F;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-style: normal;

}
html{
  height: 100%;
  overflow: hidden;
}
body{
position: relative;
height: 100%;
overflow: auto;
box-sizing: border-box;
}

main {
  margin: 1.5em 1.8em 1.8em 3em;
  font-size: 1.2em;
}



.row:nth-child(odd) {
  margin-top: 300px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5em 1.5em 1.5em 2.5em;
  
}

#nav-ul {
 align-self: center;
 z-index: 3;
}

nav path {
  opacity: 70%;
}

#logo {
  z-index: 3;
  width: 90px;
  height: 90px;
}

#nav-blob { 
  display: none;
}

#nav-ul li:nth-child(1), #info-body h1 {
  font-family: margo, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
}

#nav-ul li:nth-child(2), #about-body h1 {
  font-family: suburban, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

#nav-ul li:nth-child(3) {
  font-family: arvo, serif;
  font-weight: 400;
  font-style: normal;

}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.4em;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  z-index: 3;
  /* fixed */
}


a {
  text-decoration: none;
  color: #1F1F1F;
}

/* buttons for home page */
/* .index main #submissions { */
  /* margin-top: 45%; */
/* } */

button h1 {
  font-size: 12rem;
  margin: 0;
}

#buttons p {
  text-align: center;
  color: white;
}

#buttons img {
  /* width: 120px; */
  width: 100%;
  max-width: 200px;
  margin: 0;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);

}

#buttons button {
  /* width: 120px; */
  width: 100%;
  margin: 0;
}

#buttons svg {
  position: absolute;
  width: 55%;
  margin: 0;
  opacity: 50%;
  max-width: 250px;
}

.first-section {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.buttons {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: row;
}

button {
  text-align: center;
  align-self: center;
  margin: 0.5em;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

#q1 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#q2 {
  font-family: margo, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ============ FORMS ============= */
@media screen and (min-width: 1050px){
  #form-blob {
    max-height: 60vh;
    bottom: 0;
  }
.share-form {
    bottom: 0;
  }
}

@media screen and (max-width: 450px){
  #buttons svg {
    max-width: 180px;
  }
}

#care-body .forms input[type=submit]:nth-child(1) {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 25px;
}

#care-body .forms #just-answers input[type=submit] {
  font-family: termina, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
}

#form-blob {
  opacity: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  margin: auto;
  left: 0;
  right: 0;
  transform: translateY(-25%);
  z-index: -1;
  max-height: 60vh;
  /* max-height: 400px; */
}

/* .forms form { */
.share-form {
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  transform: translateY(-25%);
}

.forms form input {
  font-size: 0.9em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}

#form-1 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#form-1 input[type=submit] {
  font-size: 1em;
}


.forms input[type=text] {
  /* color: #D12824; */
  display: block;
  margin: auto;
  margin-top: 100px;
}

.forms form:first-of-type input[type=submit] {
  border: 1px solid #1F1F1F;
  border-radius: 30px;
  padding: 5px 10px;
}

.forms input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 35px;
}

#just-answers input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-25%);
}

.forms h1 {
  line-height: 1.2;
}

.hide {
  display: none;
}

.buttons-hide {
  display: none;
}

/* ============ INFO PAGE ============= */
#info-body {
  line-height: 1.6;
}

#info-body h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

#pdf-button {
  max-width: 235px;
  border: 6px solid #1F1F1F;
  border-radius: 40px;
  text-align: center;
  display: block;
  margin: 45px auto;
  font-size: 1em;
  padding: 18px 45px;
}

.cards-mockup {
	max-width: 100%;
	height: auto;
	padding-bottom: 30px;
}

#info-body .tip-heading {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 700;
  /* color: #D12824; */
}

#info-body p:nth-child(n+3) {
  margin-top: 0;
}

#info-body footer {
  margin: 110px 3em;
  padding-bottom: 10px;
  color: #DDD8CE;
  text-align: center;
}

#info-body ul li {
  list-style: none;
}

#info-body .link-ul a {
  text-decoration: underline;
}

#info-body .link-ul {
  padding-left: 0;
  margin-top: 0;
}

#info-body p:last-of-type {
  margin-bottom: 0;
}
/* ======================== */
/* ++++++++ ANSWERS ++++++++*/
/* ======================== */
#submissions {
  margin: 0;
  margin-top: 10%;
  padding: 0;
  width: 900px;
  font-size: 1.3em;
}

.blob-sub {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  flex-wrap: wrap;
  /* height: 100%; */
}

.svg-content {
  display: flex;
  justify-content: center;
  align-content: center;
  /* flex-wrap: wrap; */
  height: 100%;
}

.svg-content svg {
  margin: auto auto;
  display: block;
}

path {
  opacity: 30%;
}

.svg-content:nth-child(even) {
  /* margin-top: 10%; */
  margin-top: -10%;
}

.svg-content:nth-child(odd) {
  /* margin-top: 10%; */
}

.svg-content {
  position: relative;
}

.blob-content {
  position: absolute;
  /* top: 15%; */
  max-width: 115px;
  /* width: fit-content; */
  /* left: -20%; */
  font-size: 0.7em;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.blob-content p {
  max-height: 100px;
  overflow: scroll;
}

.shape1.flip {
  transform: rotate(180deg);
  position: relative;
  top: 0;
  width: 260px;
  z-index: 0;
  /* left: calc(20% - 100px); */
  margin: 0 -35px;
  /* margin-top: -30px; */
}

/* ============ ABOUT PAGE ============= */
#about-body {
  line-height: 1.6;
}

#about-body h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

#about-body p, #about-body ul {
  margin-bottom: 30px;
}

.first {
  margin-top: 0;
}

#about-colophon .link-p a {
  text-decoration: underline;
}

#about-body footer {
  margin: 100px 3em;
  padding-bottom: 10px;
  color: #DDD8CE;
  text-align: center;
}

/* Spotify iframe */
iframe {
  display: block;
  margin: auto;
}


header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -100px;
  left: 0;
  z-index: 100;
}
/* media queries */
@media screen and (max-width: 767px) {
  .blob-sub {
    justify-content: start;
  }

  #nav-ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #nav-ul.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.5em;
    animation: navbar 0.5s linear;
    z-index: 2;
  }

  /* header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    left: 0;
    z-index: 100;
  } */
  
  #nav-blob.show-blob {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    animation: fadeIn 0.5s linear;
    z-index: 2;
  }

}

@media screen and (min-width: 767px) {
  main {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  main {
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 374px) {
  main {
    margin: 1em;
  }

  nav {
    margin: 1em;
  }
}

@media screen and (max-width: 400px) {
  /* for small phones */
  #form-blob {
    max-height: 50vh;
  }
  #buttons svg {
    width: 43%;
  }

  .forms form:first-of-type input[type=submit] {
    margin-right: 25%;
  }  

  h1 {
   font-size: 1.4em !important;
  }

  #care-body > header > nav > h1 {
    font-size: 1.3em;
  }

  #care-body h1 {
    font-size: 1.2em !important;
  }

  #form-1 > div > form.share-form > input[type=submit]:nth-child(4) {
    margin-top: 4px;
  }

  .forms input[type=submit] {
    margin-top: 25px;
  }

  #song-body h1 {
    font-size: 1.3em !important;
  }

}

@media screen and (max-width: 370px) {
  /* for tiny phones */

  .forms form:first-of-type input[type=submit] {
    margin-right: auto;
  } 
  #buttons svg {
    width: 50%;
  }

  h1 {
    font-size: 1.2em !important;
    margin-top: 30px !important;
  }
}

/* ANIMATIONS */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.5s;
	-moz-animation-duration:0.5s;
	animation-duration:0.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* GRADIENTS */
/* index.html */
#index-body {
  background: linear-gradient(-45deg, #94A4FF, #D12824, #F59E44, #DDD8CE ); 
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite; 
}

#about-body {
  background: linear-gradient(-45deg, #2485BC, #D895B4, #DDD8CE  );
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* h1 for all submissions */ 
nav h1 {
  font-size: 2em;
  width: 100%;
}

.getQuestion {
  font-size: 1em;
  border-radius: 30px;
  border: 1px solid black;
}

/* what song is helping you through lately */
#song-body .forms #just-answers input[type=submit] {
  font-family: margo, sans-serif;
  font-size: 1em;
}

#song-body input[type=text]::placeholder,
#care-body input[type=text]::placeholder,
#hope-body input[type=text]::placeholder,
#appreciate-body input[type=text]::placeholder,
#smile-body input[type=text]::placeholder,
#miss-body input[type=text]::placeholder {
  color: #1F1F1F;
}

#song-link {
  margin-right: auto;
  border-bottom: 2px solid #2485BC;
  color:#2485BC;
  padding: 10px 10px 5px 10px;
  z-index: 1;
}

#song-body h1 {
  font-family: margo, sans-serif;
  font-size: 2em;
  width: 100%;
}

#song-body {
  /* font-family: margo, sans-serif; */
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(-45deg, #2485BC, #D895B4, #DDD8CE  );
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

#info-body {
  background: linear-gradient(-45deg, #D12824, #F59E44, #DDD8CE);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what made you smile today? */
#smile-body h1 {
  font-size: 2.1em;
  width: 100%;
  font-family: suburban, sans-serif;
  font-weight: 300;
}

#smile-body .forms #just-answers input[type=submit] {
  font-family: suburban, sans-serif;
  font-size: 1.3em;
}

#smile-body {
  /* font-family: suburban, sans-serif; */
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(-45deg, #D12824, #F59E44, #DDD8CE);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%; 
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what do you miss? */
#miss-body .forms #just-answers input[type=submit] {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1em;
}

#miss-body h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 2em;
  width: 100%;
  font-weight: 300;
}

#miss-body {
	background: linear-gradient(-45deg, #65A478, #F7C66A, #DDD8CE);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* what do you hope for? */
#hope-body .forms #just-answers input[type=submit] {
  font-family: 'Millik', 'Changa One', cursive;
  font-weight: 400;
  font-style: regular;
  font-size: 1em;
}

#hope-body h1 {
  font-family: 'Millik', 'Changa One', cursive;
  font-weight: 400;
  font-style: regular;
  font-size: 2em;
  width: 100%;
}

#hope-body {
	background: linear-gradient(-45deg, #D895B4, #F59E44, #DDD8CE);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* who do you appreciate? */
#appreciate-body .forms #just-answers input[type=submit] {
  font-family: arvo, serif;
  font-size: 1em;
}

#appreciate-body h1 {
  font-family: arvo, serif;
  font-size: 2em;
  width: 100%;
}

#appreciate-body {
  /* font-family: arvo, serif; */
  /* font-weight: 700; */
  font-style: normal;
	background: linear-gradient(-45deg, #94A4FF, #2485BC, #DDD8CE);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

/* What do you want ppl to care about? */
/* what do you hope for? */
#care-body h1 {
  font-family: termina, sans-serif;
  font-size: 1.4em;
  width: 100%;
}

#care-body {
	background: linear-gradient(-45deg, #D12824, #94A4FF, #DDD8CE);
	min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
