<!-- purple, red, orange, beige -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ukd1lnj.css">
  <title>The Empathy Project | Home</title>
</head>
<body id="about-body">
  <header>
    <nav>
      <a href="index.html"><img src="../public/images/empathy project logo-01.png" alt="The Empathy Project" width="100px" height="100px"></a>
      <button class="hamburger" id="hamburger">
        <i class="fas fa-bars fa-3x"></i>
      </button>
      <ul id="nav-ul">
        <li><a href="info.htm">More Info</a></li>
        <li><a href="about.htm">About</a></li>
        <li><a href="scan.htm">Scan</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>About</h1>
    <p>
      The Empathy Project explores integrating empathy into everyday life. The goal is 
      to invite people to recognize and appreciate shared human experiences, ultimately 
      leading to more thoughtful public interactions.
    </p>
    <p>
      When walking around public spaces, you can find six poster designs, each asking 
      one of the following questions:
    </p>
    <ul>
      <li>What made you smile today?</li>
      <li>Who do you appreciate?</li>
      <li>What do you hope for?</li>
      <li>What song is helping you through lately?</li>
      <li>What do you miss?</li>
      <li>What do you want people to care about?</li>
    </ul>
    <p>
      As you answer these questions, know that strangers around you are doing the same. 
      By reading others’ responses, you might find yourself thinking more empathetically
      toward the people around you.
    </p>
    <p>
      For more about how to incorporate empathy into your everyday life, check out these
      <a href="info.htm">empathy tips</a>.
    </p>
  </main>

  <footer>
    <p>Emma Noyes 2021</p>
    <p>SUNY New Paltz Graphic Design</p>
  </footer>
  <script src="../public/javascripts/main.js"></script>
</body>
</html>