<!-- purple, red, orange, beige -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ukd1lnj.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>The Empathy Project | Home</title>
</head>
<body id="index-body">
  <header>
    <nav>
      <a id="logo" href="index.html"><img src="../public/images/empathy project logo-01.png" alt="The Empathy Project" width="100px" height="100px"></a>
      <button class="hamburger" id="hamburger">
        <i class="fas fa-bars fa-3x"></i>
      </button>
      <svg id="nav-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#FFFFFF" d="M50.2,-61.1C63.6,-48.7,71.8,-31.4,70.2,-16C68.6,-0.6,57.3,12.9,49.3,30.1C41.4,47.3,36.9,68.2,25.3,74.6C13.7,81,-5,73,-17.7,62.4C-30.5,51.9,-37.3,38.7,-40.5,26.6C-43.7,14.5,-43.3,3.5,-44.1,-10.5C-44.9,-24.5,-47,-41.5,-39.9,-55C-32.7,-68.5,-16.4,-78.4,1,-79.7C18.5,-80.9,36.9,-73.4,50.2,-61.1Z" transform="translate(100 100)" />
      </svg>
      <ul id="nav-ul">
        <li><a href="info.htm">More Info</a></li>
        <li><a href="about.htm">About</a></li>
        <li><a href="scan.htm">Scan</a></li>
      </ul>
    </nav>
    <!-- <h1>What do you hope for?</h1> -->
  </header>
  <main>
    <!-- buttons -->
    <div id="buttons" class="buttons">
      <!-- <button id="q1" onclick="fetchAnswers()"><h1>1</h1></button> -->
      <button id="q1" onclick="getForm('form-1')"><h1>1</h1></button>
      <button id="q2" onclick="getForm('form-2')"><h1>2</h1></button>
      <button id="q3" onclick="getForm('form-3')"><h1>3</h1></button>
      <button id="q4" onclick="getForm('form-4')"><h1>4</h1></button>
      <button id="q5" onclick="getForm('form-5')"><h1>5</h1></button>
      <button id="q6" onclick="getForm('form-6')"><h1>6</h1></button>
    </div>

    <!-- forms -->
    <div class="forms">
      <!-- q1 -->
      <div id="form-1" class="hide">
        <h1>What do you want people to care about?</h1>
        <div class="main-form">
          <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M45.9,-53.8C59.9,-42.9,72.1,-28.9,78.5,-11.1C84.9,6.6,85.5,28.2,75.5,42C65.6,55.8,45.2,62,25.4,68.8C5.6,75.5,-13.7,83,-31.7,79.6C-49.7,76.3,-66.4,62.2,-75.3,44.6C-84.1,27,-85.1,5.9,-81,-13.8C-77,-33.5,-68,-51.9,-53.7,-62.9C-39.3,-73.8,-19.7,-77.2,-1.9,-75C15.9,-72.7,31.8,-64.8,45.9,-53.8Z" transform="translate(100 100)" />
          </svg>
          <form class="share-form">
            <input id="question" type="hidden" value="q1">
            <input id="answer" type="text" placeholder="Share your thoughts.">
            <br>
            <input type="submit" value="Share">
          </form>
          <form id="just-answers">
            <input id="question" type="hidden" value="q1">
            <input id="answer" type="hidden" value="skip">
            <input type="submit" value="skip to answers" style="z-index: 100;">
          </form>
        </div>
      </div>

      <!-- q2 -->
      <div id="form-2" class="hide">
        <h1>What song is helping you through lately?</h1>
        <div class="main-form">
          <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M45.9,-53.8C59.9,-42.9,72.1,-28.9,78.5,-11.1C84.9,6.6,85.5,28.2,75.5,42C65.6,55.8,45.2,62,25.4,68.8C5.6,75.5,-13.7,83,-31.7,79.6C-49.7,76.3,-66.4,62.2,-75.3,44.6C-84.1,27,-85.1,5.9,-81,-13.8C-77,-33.5,-68,-51.9,-53.7,-62.9C-39.3,-73.8,-19.7,-77.2,-1.9,-75C15.9,-72.7,31.8,-64.8,45.9,-53.8Z" transform="translate(100 100)" />
          </svg>
          <form class="share-form">
            <input id="question" type="hidden" value="q2">
            <input id="answer" type="text" placeholder="Share your thoughts.">
            <input type="submit" value="Share">
          </form>
          <form id="just-answers">
            <input id="question" type="hidden" value="q2">
            <input id="answer" type="hidden" value="skip">
            <input type="submit" value="skip to answers">
          </form>
        </div>
      </div>

      <!-- q3 -->
      <div id="form-3" class="hide">
        <h1>What do you hope for?</h1>
        <div class="main-form">
          <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M45.9,-53.8C59.9,-42.9,72.1,-28.9,78.5,-11.1C84.9,6.6,85.5,28.2,75.5,42C65.6,55.8,45.2,62,25.4,68.8C5.6,75.5,-13.7,83,-31.7,79.6C-49.7,76.3,-66.4,62.2,-75.3,44.6C-84.1,27,-85.1,5.9,-81,-13.8C-77,-33.5,-68,-51.9,-53.7,-62.9C-39.3,-73.8,-19.7,-77.2,-1.9,-75C15.9,-72.7,31.8,-64.8,45.9,-53.8Z" transform="translate(100 100)" />
          </svg>
          <!-- <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M61.9,-50.1C72.9,-35.6,69.4,-10.2,62.1,11.2C54.8,32.6,43.7,50.1,28,57.3C12.3,64.5,-7.9,61.4,-27.7,53.4C-47.6,45.4,-67,32.6,-74.2,13.4C-81.4,-5.7,-76.2,-31.1,-61.7,-46.5C-47.3,-61.8,-23.7,-66.9,0.9,-67.6C25.4,-68.3,50.9,-64.6,61.9,-50.1Z" transform="translate(100 100)" />
          </svg> -->
          <form class="share-form">
            <input id="question" type="hidden" value="q3">
            <input id="answer" type="text" placeholder="Share your thoughts.">
            <input type="submit" value="Share">
          </form>
          <form id="just-answers">
            <input id="question" type="hidden" value="q3">
            <input id="answer" type="hidden" value="skip">
            <input type="submit" value="skip to answers">
          </form>
        </div>
      </div>

      <!-- q4 -->
      <div id="form-4" class="hide">
        <h1>What do you miss?</h1>
        <div class="main-form">
          <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M45.9,-53.8C59.9,-42.9,72.1,-28.9,78.5,-11.1C84.9,6.6,85.5,28.2,75.5,42C65.6,55.8,45.2,62,25.4,68.8C5.6,75.5,-13.7,83,-31.7,79.6C-49.7,76.3,-66.4,62.2,-75.3,44.6C-84.1,27,-85.1,5.9,-81,-13.8C-77,-33.5,-68,-51.9,-53.7,-62.9C-39.3,-73.8,-19.7,-77.2,-1.9,-75C15.9,-72.7,31.8,-64.8,45.9,-53.8Z" transform="translate(100 100)" />
          </svg>
          <form class="share-form">
            <input id="question" type="hidden" value="q4">
            <input id="answer" type="text" placeholder="Share your thoughts.">
            <input type="submit" value="Share">
          </form>
          <form id="just-answers">
            <input id="question" type="hidden" value="q4">
            <input id="answer" type="hidden" value="skip">
            <input type="submit" value="skip to answers">
          </form>
        </div>
      </div>

      <!-- q5 -->
      <div id="form-5" class="hide">
        <h1>What made you smile today?</h1>
        <div class="main-form">
          <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M45.9,-53.8C59.9,-42.9,72.1,-28.9,78.5,-11.1C84.9,6.6,85.5,28.2,75.5,42C65.6,55.8,45.2,62,25.4,68.8C5.6,75.5,-13.7,83,-31.7,79.6C-49.7,76.3,-66.4,62.2,-75.3,44.6C-84.1,27,-85.1,5.9,-81,-13.8C-77,-33.5,-68,-51.9,-53.7,-62.9C-39.3,-73.8,-19.7,-77.2,-1.9,-75C15.9,-72.7,31.8,-64.8,45.9,-53.8Z" transform="translate(100 100)" />
          </svg>
          <form class="share-form">
            <input id="question" type="hidden" value="q5">
            <input id="answer" type="text" placeholder="Share your thoughts.">
            <input type="submit" value="Share">
          </form>
          <form id="just-answers">
            <input id="question" type="hidden" value="q5">
            <input id="answer" type="hidden" value="skip">
            <input type="submit" value="skip to answers">
          </form>
        </div>
      </div>

      <!-- q6 -->
      <div id="form-6" class="hide">
        <h1>Who do you appreciate?</h1>
        <div class="main-form">
          <svg id="form-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFFFFF" d="M45.9,-53.8C59.9,-42.9,72.1,-28.9,78.5,-11.1C84.9,6.6,85.5,28.2,75.5,42C65.6,55.8,45.2,62,25.4,68.8C5.6,75.5,-13.7,83,-31.7,79.6C-49.7,76.3,-66.4,62.2,-75.3,44.6C-84.1,27,-85.1,5.9,-81,-13.8C-77,-33.5,-68,-51.9,-53.7,-62.9C-39.3,-73.8,-19.7,-77.2,-1.9,-75C15.9,-72.7,31.8,-64.8,45.9,-53.8Z" transform="translate(100 100)" />
          </svg>
          <form class="share-form">
            <input id="question" type="hidden" value="q6">
            <input id="answer" type="text" placeholder="Share your thoughts.">
            <input type="submit" value="Share">
          </form>
          <form id="just-answers">
            <input id="question" type="hidden" value="q6">
            <input id="answer" type="hidden" value="skip">
            <input type="submit" value="skip to answers">
          </form>
        </div>
      </div>
    </div>

    <!-- answers -->
    <div id="submissions">
      <!-- blobs -->
      <section>
        <div class="blob-sub">
          <!-- <div class="svg-content">
            <div class="shape1 flip">
              <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#FFFFFF" d="M58.4,-57.2C73.6,-43.3,82.4,-21.6,82.4,0C82.4,21.7,73.7,43.3,58.5,55.7C43.3,68,21.7,71.1,4.5,66.6C-12.6,62,-25.2,49.9,-39.3,37.5C-53.4,25.2,-69,12.6,-71.5,-2.5C-74,-17.6,-63.4,-35.1,-49.2,-49.1C-35.1,-63.1,-17.6,-73.5,2,-75.5C21.6,-77.5,43.3,-71.2,58.4,-57.2Z" transform="translate(100 100)" />
              </svg>
            </div>
            <div class="blob-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
          </div> -->
    
        </div>
      </section>
    </div>

  </main>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../public/javascripts/main.js"></script>
</body>
</html>