<!-- purple, red, orange, beige -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ukd1lnj.css">
  <title>The Empathy Project | Home</title>
</head>
<body id="scan-body">
  <header>
    <nav>
      <a href="index.html"><img src="../public/images/empathy project logo-01.png" alt="The Empathy Project" width="100px" height="100px"></a>
      <button class="hamburger" id="hamburger">
        <i class="fas fa-bars fa-3x"></i>
      </button>
      <ul id="nav-ul">
        <li><a href="info.htm">More Info</a></li>
        <li><a href="about.htm">About</a></li>
        <li><a href="scan.htm">Scan</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <p>
      Launch camera to scan a QR code.
    </p>
    <button id="access-camera">
      Access Camera
    </button>
    <!-- <button id="access-camera">
      <input type="file" accept="image/*" capture="camera" value="Access Camera">
    </button> -->

  </main>

  <script src="../public/javascripts/main.js"></script>
</body>
</html>